<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/ASUS/juaracoding/sqabatch11/ShopDemoQA/src/test/java/com/juaracoding/LoginTest.java">
        <classes>
            <class name="com.juaracoding.LoginTest">
                <methods>
                    <include name="testValidLogin"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true"
          name="C:/Users/ASUS/juaracoding/sqabatch11/ShopDemoQA/src/test/java/com/juaracoding/AddProductTest.java">
        <classes>
            <class name="com.juaracoding.AddProductTest">
                <methods>
                    <include name="testCart"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>